<section data-ng-controller="MainController">
<!-- header -->
<header class="text-center">
  <h1>Logo</h1>
  <h1>Power Up! 逐電源而居</h1>
  <h4>遊牧工作者 辦公地圖</h4>
  <div class="btn-group" role="group" aria-label="">
    <a href="/#/" class="btn btn-default">Add</a>
    <a type="button" class="btn btn-default">View</a>
    <a href="/#/search" class="btn btn-default">Find</a>
  </div>

</header>

<h2 class="title">Contribute A Power</h2>
<form>
  <div class="form-group">
    <label for="" class="sr-only">蒐尋店家或地址</label>
    <input type="text" ng-model="ngAutocomplete" name="search" placeholder="輸入店家或地址搜尋" id="AutocompleteAddr" ng-autocomplete options="options" details="details" class="form-control">
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <label for="" class="sr-only">店名：</label>
    <input type="text" ng-model="store.title" name="store-title" placeholder="有電源的店名"   class="form-control">
  </div>
  <div class="form-group">
    <label for="" class="sr-only">地址：</label>
    <input type="text" ng-model="store.address" placeholder="地址"  class="form-control">
  </div>
  <div class="form-group">
    <input type="text" ng-model="store.time" placeholder="營業時間"  class="form-control">
  </div>
  <div class="form-group">
    <button ng-click="savePower(store)" class="btn btn-success btn-block">Push Power!!</button>
  </div>
</form>
<b>details (formatted address)</b>: {{details.formatted_address}}<br>
<b>details (name)</b>: {{details.name}}

<h2>All power</h2>

<div ng-repeat="store in stores">
  <p>
    {{store.title}}, {{store.city}}, {{store.address}}, {{store.time}}
  </p>
</div>

</section>
